<!-- More Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        <div class="col-md-3 col-md-offset-1">
          <a href="{{site.baseurl}}/categories/academic.html">
            <img class="img-me" src="./img/more/academic.png" alt="Academic">
            </br>
            <h3><strong> Academic </strong></h3>
          </a>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <a href="{{site.baseurl}}/categories/art.html">
            <img class="img-me" src="./img/more/art.png" alt="Art">
            </br>
            <h3><strong> Art </strong></h3>
          </a>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <a href="{{site.baseurl}}/categories/speaking.html">
            <img class="img-me" src="./img/more/speaking.png" alt="Speaking">
            </br>
            <h3><strong> Speaking </strong></h3>
          </a>
        </div>

      </div>
    </div>
</section>

<!-- More End -->
